*{
    align-items: center;
    display: inline-flexbox;
    border: 5px;
   
    border-radius: 10px;
    borde
}


#num2 {
    
position: relative;
left: 200px ;
top: 3px;



}
#num3 {
    
    position: relative;
    left: 390px ;
    bottom: 23px;
    
    
    
    }
    #num1 {
    
        position: relative;
       
        top: 29px;
        
        
        
        }
    .TT{
        background-color: rgba(100, 95, 95, 0.542);

    }
    .container{
        
       padding: 10px;
       
    }